/* Effective stylesheet produced by snapshot save */
.cm-s-default span.cm-header { color: rgb(47, 47, 79); font-weight: bold; }
.cm-s-default span.cm-code { color: rgb(102, 102, 102); }
.cm-s-default span.cm-quote { color: rgb(0, 153, 0); }
.cm-s-default span.cm-list { color: rgb(170, 85, 0); }
.cm-s-default span.cm-hr { color: rgb(153, 153, 153); }
.cm-s-default span.cm-linktext { color: rgb(0, 0, 204); text-decoration: underline; }
.cm-s-default span.cm-linkhref { color: rgb(0, 0, 204); }
.cm-s-default span.cm-em { font-style: italic; }
.cm-s-default span.cm-strong { font-weight: bold; }
.cm-s-default span.cm-emstrong { font-style: italic; font-weight: bold; }
